html {
  font-size: 100%;
  /* 100% = 16px */
}

:root {
  --govcolor-cobalt: #0943B5;
  --govcolor-white: #FFFFFF;
  --govcolor-havelock-lue: #4672C8;
  --govcolor-black: #000000;
  --govcolor-tropical-blue: #B5C7E9;
}

/* Las fuentes se cargan desde el CDN de Gov.co (all.css) */

.barra-accesibilidad-govco {
  background-color: var(--govcolor-cobalt);
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem 0 0 0.625rem;
  width: 3rem;
  height: 8.938rem;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
  position: relative;
}

.barra-accesibilidad-govco button {
  width: 3rem;
  height: 2.5rem;
  border: 0;
  padding: 0;
  background-color: var(--govcolor-cobalt);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: 'Verdana-Regular';
}

.barra-accesibilidad-govco button span {
  z-index: 1;
  filter: invert(21%) sepia(98%) saturate(1529%) hue-rotate(209deg) brightness(95%) contrast(118%);
  min-width: 1rem;
  min-height: 1rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

.barra-accesibilidad-govco button span.govco-contrast {
  background-image: url('https://cdn.www.gov.co/layout-govco-v5/assets/icons/adjust.svg');
}

.barra-accesibilidad-govco button span.govco-font-minimize {
  background-image: url('https://cdn.www.gov.co/layout-govco-v5/assets/icons/font-minimize.svg');
}

.barra-accesibilidad-govco button span.govco-font-maximize {
  background-image: url('https://cdn.www.gov.co/layout-govco-v5/assets/icons/font-maximize.svg');
}

.barra-accesibilidad-govco button::before {
  position: absolute;
  right: 0;
  min-width: 10.75rem;
  height: 2.5rem;
  padding-right: 3rem;
  border-radius: 0.625rem 0 0 0.625rem;
  align-items: center;
  padding-left: 0.625rem;
  color: var(--govcolor-white);
  background-color: var(--govcolor-havelock-lue);
  white-space: nowrap;
  display: none;
  opacity: 0;
}

.barra-accesibilidad-govco button::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--govcolor-white);
  border: 0;
  border-radius: 0.313rem;
  position: absolute;
  display: block;
}

.barra-accesibilidad-govco button.contrast::before {
  content: "Contraste";
}

.barra-accesibilidad-govco button.decrease-font-size::before {
  content: "Reducir letra";
}

.barra-accesibilidad-govco button.increase-font-size::before {
  content: "Aumentar letra";
}

.barra-accesibilidad-govco button:hover,
.barra-accesibilidad-govco button:focus-visible {
  background-color: var(--govcolor-havelock-lue);
}

.barra-accesibilidad-govco button:hover::before,
.barra-accesibilidad-govco button:focus-visible::before {
  opacity: 1;
  display: flex;
}

.barra-accesibilidad-govco button:focus-visible {
  outline: 0;
}

.barra-accesibilidad-govco button:focus-visible::before {
  outline: max(0.125rem, 0.125rem) solid var(--govcolor-black);
  outline-offset: max(0.125rem, 0.125rem);
}

.barra-accesibilidad-govco button.active {
  background-color: var(--govcolor-tropical-blue);
  box-shadow: 0 0.188rem 0.375rem #00000029;
}

/* Modo de alto contraste */
body.contrast-govco {
  background-color: var(--govcolor-black) !important;
  color: var(--govcolor-white) !important;
}

body.contrast-govco * {
  border-color: var(--govcolor-white) !important;
}

body.contrast-govco a,
body.contrast-govco p,
body.contrast-govco h1,
body.contrast-govco h2,
body.contrast-govco h3,
body.contrast-govco span {
  color: var(--govcolor-white) !important;
}

body.contrast-govco .hero-section,
body.contrast-govco .features-section,
body.contrast-govco .home-footer {
  background-color: var(--govcolor-black) !important;
}

body.contrast-govco .feature-card {
  background-color: #1a1a1a !important;
  border: 1px solid var(--govcolor-white) !important;
}

body.contrast-govco .btn-primary {
  background-color: var(--govcolor-white) !important;
  color: var(--govcolor-black) !important;
}

body.contrast-govco .btn-outline-light {
  border-color: var(--govcolor-white) !important;
  color: var(--govcolor-white) !important;
}

.contrast-govco .accesibility-example {
  background-color: var(--govcolor-black);
}

.contrast-govco .accesibility-example p {
  color: var(--govcolor-white);
}